@import '../../global.scss';

.card {
  width: 30%;
  height: 33vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;

  @include mobile {
    width: 70%;
    height: 40vh;
  }

  .card_browser {
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;

    .card_circle {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin: 3px;
      background-color: $whiteColor;
    }
  }

  a {

    .card_img {
      width: 100%;
      transition: all 10s ease;
    }
  }

  &:hover .card_img {
    transform: translateY(-100%);
  }
}