@import '../../global.scss';

.contact {
  background-color: $whiteColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      input {
        width: 300px;
        font-size: 14px;
        height: 30px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        font-size: 14px;
        height: 200px;
        padding: 20px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        font-weight: 500;
        color: $whiteColor;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        font-size: 14px;
      }
    }
  }
}